@font-face {
  font-family: 'webfun';
  src:  url('../fonts/webfun.eot?h5uszc');
  src:  url('../fonts/webfun.eot?h5uszc#iefix') format('embedded-opentype'),
    url('../fonts/webfun.ttf?h5uszc') format('truetype'),
    url('../fonts/webfun.woff?h5uszc') format('woff'),
    url('../fonts/webfun.svg?h5uszc#webfun') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.wf-i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'webfun' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.wf-i-ambulance:before {
  content: "\eaeb";
}
.wf-i-ambulance-s:before {
  content: "\eaec";
}
.wf-i-angle-down:before {
  content: "\eaed";
}
.wf-i-angle-left:before {
  content: "\eaee";
}
.wf-i-angle-right:before {
  content: "\eaef";
}
.wf-i-angle-up:before {
  content: "\eaf0";
}
.wf-i-bell-off:before {
  content: "\eaf1";
}
.wf-i-bell-off-s:before {
  content: "\eaf2";
}
.wf-i-bell-s:before {
  content: "\eaf3";
}
.wf-i-breakfast:before {
  content: "\eaf4";
}
.wf-i-breakfast-s:before {
  content: "\eaf5";
}
.wf-i-bus:before {
  content: "\eaf6";
}
.wf-i-bus-s:before {
  content: "\eaf7";
}
.wf-i-car:before {
  content: "\eaf8";
}
.wf-i-car-s:before {
  content: "\eaf9";
}
.wf-i-coffee:before {
  content: "\eafa";
}
.wf-i-coffee-s:before {
  content: "\eafb";
}
.wf-i-cursor:before {
  content: "\eafc";
}
.wf-i-cursor-left-right:before {
  content: "\eafd";
}
.wf-i-cursor-up-down:before {
  content: "\eafe";
}
.wf-i-dinner:before {
  content: "\eaff";
}
.wf-i-dinner-s:before {
  content: "\eb00";
}
.wf-i-hospital:before {
  content: "\eb01";
}
.wf-i-hospital-s:before {
  content: "\eb02";
}
.wf-i-inject:before {
  content: "\eb03";
}
.wf-i-inject-s:before {
  content: "\eb04";
}
.wf-i-luggage:before {
  content: "\eb05";
}
.wf-i-luggage-s:before {
  content: "\eb06";
}
.wf-i-medical:before {
  content: "\eb07";
}
.wf-i-medical-bottle:before {
  content: "\eb08";
}
.wf-i-medical-s:before {
  content: "\eb09";
}
.wf-i-medicine:before {
  content: "\eb0a";
}
.wf-i-nurse:before {
  content: "\eb0b";
}
.wf-i-plane:before {
  content: "\eb0c";
}
.wf-i-plane-s:before {
  content: "\eb0d";
}
.wf-i-stethoscope:before {
  content: "\eb0e";
}
.wf-i-stop-s:before {
  content: "\eb0f";
}
.wf-i-tickets:before {
  content: "\eb10";
}
.wf-i-tickets-s:before {
  content: "\eb11";
}
.wf-i-home:before {
  content: "\e900";
}
.wf-i-home2:before {
  content: "\e901";
}
.wf-i-home3:before {
  content: "\e902";
}
.wf-i-office:before {
  content: "\e903";
}
.wf-i-newspaper:before {
  content: "\e904";
}
.wf-i-pencil:before {
  content: "\e905";
}
.wf-i-pencil2:before {
  content: "\e906";
}
.wf-i-quill:before {
  content: "\e907";
}
.wf-i-pen:before {
  content: "\e908";
}
.wf-i-blog:before {
  content: "\e909";
}
.wf-i-eyedropper:before {
  content: "\e90a";
}
.wf-i-droplet:before {
  content: "\e90b";
}
.wf-i-paint-format:before {
  content: "\e90c";
}
.wf-i-image:before {
  content: "\e90d";
}
.wf-i-images:before {
  content: "\e90e";
}
.wf-i-camera:before {
  content: "\e90f";
}
.wf-i-headphones:before {
  content: "\e910";
}
.wf-i-music:before {
  content: "\e911";
}
.wf-i-play:before {
  content: "\e912";
}
.wf-i-film:before {
  content: "\e913";
}
.wf-i-video-camera:before {
  content: "\e914";
}
.wf-i-dice:before {
  content: "\e915";
}
.wf-i-pacman:before {
  content: "\e916";
}
.wf-i-spades:before {
  content: "\e917";
}
.wf-i-clubs:before {
  content: "\e918";
}
.wf-i-diamonds:before {
  content: "\e919";
}
.wf-i-bullhorn:before {
  content: "\e91a";
}
.wf-i-connection:before {
  content: "\e91b";
}
.wf-i-podcast:before {
  content: "\e91c";
}
.wf-i-feed:before {
  content: "\e91d";
}
.wf-i-mic:before {
  content: "\e91e";
}
.wf-i-book:before {
  content: "\e91f";
}
.wf-i-books:before {
  content: "\e920";
}
.wf-i-library:before {
  content: "\e921";
}
.wf-i-file-text:before {
  content: "\e922";
}
.wf-i-profile:before {
  content: "\e923";
}
.wf-i-file-empty:before {
  content: "\e924";
}
.wf-i-files-empty:before {
  content: "\e925";
}
.wf-i-file-text2:before {
  content: "\e926";
}
.wf-i-file-picture:before {
  content: "\e927";
}
.wf-i-file-music:before {
  content: "\e928";
}
.wf-i-file-play:before {
  content: "\e929";
}
.wf-i-file-video:before {
  content: "\e92a";
}
.wf-i-file-zip:before {
  content: "\e92b";
}
.wf-i-copy:before {
  content: "\e92c";
}
.wf-i-paste:before {
  content: "\e92d";
}
.wf-i-stack:before {
  content: "\e92e";
}
.wf-i-folder:before {
  content: "\e92f";
}
.wf-i-folder-open:before {
  content: "\e930";
}
.wf-i-folder-plus:before {
  content: "\e931";
}
.wf-i-folder-minus:before {
  content: "\e932";
}
.wf-i-folder-download:before {
  content: "\e933";
}
.wf-i-folder-upload:before {
  content: "\e934";
}
.wf-i-price-tag:before {
  content: "\e935";
}
.wf-i-price-tags:before {
  content: "\e936";
}
.wf-i-barcode:before {
  content: "\e937";
}
.wf-i-qrcode:before {
  content: "\e938";
}
.wf-i-ticket:before {
  content: "\e939";
}
.wf-i-cart:before {
  content: "\e93a";
}
.wf-i-coin-dollar:before {
  content: "\e93b";
}
.wf-i-coin-euro:before {
  content: "\e93c";
}
.wf-i-coin-pound:before {
  content: "\e93d";
}
.wf-i-coin-yen:before {
  content: "\e93e";
}
.wf-i-credit-card:before {
  content: "\e93f";
}
.wf-i-calculator:before {
  content: "\e940";
}
.wf-i-lifebuoy:before {
  content: "\e941";
}
.wf-i-phone:before {
  content: "\e942";
}
.wf-i-phone-hang-up:before {
  content: "\e943";
}
.wf-i-address-book:before {
  content: "\e944";
}
.wf-i-envelop:before {
  content: "\e945";
}
.wf-i-pushpin:before {
  content: "\e946";
}
.wf-i-location:before {
  content: "\e947";
}
.wf-i-location2:before {
  content: "\e948";
}
.wf-i-compass:before {
  content: "\e949";
}
.wf-i-compass2:before {
  content: "\e94a";
}
.wf-i-map:before {
  content: "\e94b";
}
.wf-i-map2:before {
  content: "\e94c";
}
.wf-i-history:before {
  content: "\e94d";
}
.wf-i-clock:before {
  content: "\e94e";
}
.wf-i-clock2:before {
  content: "\e94f";
}
.wf-i-alarm:before {
  content: "\e950";
}
.wf-i-bell:before {
  content: "\e951";
}
.wf-i-stopwatch:before {
  content: "\e952";
}
.wf-i-calendar:before {
  content: "\e953";
}
.wf-i-printer:before {
  content: "\e954";
}
.wf-i-keyboard:before {
  content: "\e955";
}
.wf-i-display:before {
  content: "\e956";
}
.wf-i-laptop:before {
  content: "\e957";
}
.wf-i-mobile:before {
  content: "\e958";
}
.wf-i-mobile2:before {
  content: "\e959";
}
.wf-i-tablet:before {
  content: "\e95a";
}
.wf-i-tv:before {
  content: "\e95b";
}
.wf-i-drawer:before {
  content: "\e95c";
}
.wf-i-drawer2:before {
  content: "\e95d";
}
.wf-i-box-add:before {
  content: "\e95e";
}
.wf-i-box-remove:before {
  content: "\e95f";
}
.wf-i-download:before {
  content: "\e960";
}
.wf-i-upload:before {
  content: "\e961";
}
.wf-i-floppy-disk:before {
  content: "\e962";
}
.wf-i-drive:before {
  content: "\e963";
}
.wf-i-database:before {
  content: "\e964";
}
.wf-i-undo:before {
  content: "\e965";
}
.wf-i-redo:before {
  content: "\e966";
}
.wf-i-undo2:before {
  content: "\e967";
}
.wf-i-redo2:before {
  content: "\e968";
}
.wf-i-forward:before {
  content: "\e969";
}
.wf-i-reply:before {
  content: "\e96a";
}
.wf-i-bubble:before {
  content: "\e96b";
}
.wf-i-bubbles:before {
  content: "\e96c";
}
.wf-i-bubbles2:before {
  content: "\e96d";
}
.wf-i-bubble2:before {
  content: "\e96e";
}
.wf-i-bubbles3:before {
  content: "\e96f";
}
.wf-i-bubbles4:before {
  content: "\e970";
}
.wf-i-user:before {
  content: "\e971";
}
.wf-i-users:before {
  content: "\e972";
}
.wf-i-user-plus:before {
  content: "\e973";
}
.wf-i-user-minus:before {
  content: "\e974";
}
.wf-i-user-check:before {
  content: "\e975";
}
.wf-i-user-tie:before {
  content: "\e976";
}
.wf-i-quotes-left:before {
  content: "\e977";
}
.wf-i-quotes-right:before {
  content: "\e978";
}
.wf-i-hour-glass:before {
  content: "\e979";
}
.wf-i-spinner:before {
  content: "\e97a";
}
.wf-i-spinner2:before {
  content: "\e97b";
}
.wf-i-spinner3:before {
  content: "\e97c";
}
.wf-i-spinner4:before {
  content: "\e97d";
}
.wf-i-spinner5:before {
  content: "\e97e";
}
.wf-i-spinner6:before {
  content: "\e97f";
}
.wf-i-spinner7:before {
  content: "\e980";
}
.wf-i-spinner8:before {
  content: "\e981";
}
.wf-i-spinner9:before {
  content: "\e982";
}
.wf-i-spinner10:before {
  content: "\e983";
}
.wf-i-spinner11:before {
  content: "\e984";
}
.wf-i-binoculars:before {
  content: "\e985";
}
.wf-i-search:before {
  content: "\e986";
}
.wf-i-zoom-in:before {
  content: "\e987";
}
.wf-i-zoom-out:before {
  content: "\e988";
}
.wf-i-enlarge:before {
  content: "\e989";
}
.wf-i-shrink:before {
  content: "\e98a";
}
.wf-i-enlarge2:before {
  content: "\e98b";
}
.wf-i-shrink2:before {
  content: "\e98c";
}
.wf-i-key:before {
  content: "\e98d";
}
.wf-i-key2:before {
  content: "\e98e";
}
.wf-i-lock:before {
  content: "\e98f";
}
.wf-i-unlocked:before {
  content: "\e990";
}
.wf-i-wrench:before {
  content: "\e991";
}
.wf-i-equalizer:before {
  content: "\e992";
}
.wf-i-equalizer2:before {
  content: "\e993";
}
.wf-i-cog:before {
  content: "\e994";
}
.wf-i-cogs:before {
  content: "\e995";
}
.wf-i-hammer:before {
  content: "\e996";
}
.wf-i-magic-wand:before {
  content: "\e997";
}
.wf-i-aid-kit:before {
  content: "\e998";
}
.wf-i-bug:before {
  content: "\e999";
}
.wf-i-pie-chart:before {
  content: "\e99a";
}
.wf-i-stats-dots:before {
  content: "\e99b";
}
.wf-i-stats-bars:before {
  content: "\e99c";
}
.wf-i-stats-bars2:before {
  content: "\e99d";
}
.wf-i-trophy:before {
  content: "\e99e";
}
.wf-i-gift:before {
  content: "\e99f";
}
.wf-i-glass:before {
  content: "\e9a0";
}
.wf-i-glass2:before {
  content: "\e9a1";
}
.wf-i-mug:before {
  content: "\e9a2";
}
.wf-i-spoon-knife:before {
  content: "\e9a3";
}
.wf-i-leaf:before {
  content: "\e9a4";
}
.wf-i-rocket:before {
  content: "\e9a5";
}
.wf-i-meter:before {
  content: "\e9a6";
}
.wf-i-meter2:before {
  content: "\e9a7";
}
.wf-i-hammer2:before {
  content: "\e9a8";
}
.wf-i-fire:before {
  content: "\e9a9";
}
.wf-i-lab:before {
  content: "\e9aa";
}
.wf-i-magnet:before {
  content: "\e9ab";
}
.wf-i-bin:before {
  content: "\e9ac";
}
.wf-i-bin2:before {
  content: "\e9ad";
}
.wf-i-briefcase:before {
  content: "\e9ae";
}
.wf-i-airplane:before {
  content: "\e9af";
}
.wf-i-truck:before {
  content: "\e9b0";
}
.wf-i-road:before {
  content: "\e9b1";
}
.wf-i-accessibility:before {
  content: "\e9b2";
}
.wf-i-target:before {
  content: "\e9b3";
}
.wf-i-shield:before {
  content: "\e9b4";
}
.wf-i-power:before {
  content: "\e9b5";
}
.wf-i-switch:before {
  content: "\e9b6";
}
.wf-i-power-cord:before {
  content: "\e9b7";
}
.wf-i-clipboard:before {
  content: "\e9b8";
}
.wf-i-list-numbered:before {
  content: "\e9b9";
}
.wf-i-list:before {
  content: "\e9ba";
}
.wf-i-list2:before {
  content: "\e9bb";
}
.wf-i-tree:before {
  content: "\e9bc";
}
.wf-i-menu:before {
  content: "\e9bd";
}
.wf-i-menu2:before {
  content: "\e9be";
}
.wf-i-menu3:before {
  content: "\e9bf";
}
.wf-i-menu4:before {
  content: "\e9c0";
}
.wf-i-cloud:before {
  content: "\e9c1";
}
.wf-i-cloud-download:before {
  content: "\e9c2";
}
.wf-i-cloud-upload:before {
  content: "\e9c3";
}
.wf-i-cloud-check:before {
  content: "\e9c4";
}
.wf-i-download2:before {
  content: "\e9c5";
}
.wf-i-upload2:before {
  content: "\e9c6";
}
.wf-i-download3:before {
  content: "\e9c7";
}
.wf-i-upload3:before {
  content: "\e9c8";
}
.wf-i-sphere:before {
  content: "\e9c9";
}
.wf-i-earth:before {
  content: "\e9ca";
}
.wf-i-link:before {
  content: "\e9cb";
}
.wf-i-flag:before {
  content: "\e9cc";
}
.wf-i-attachment:before {
  content: "\e9cd";
}
.wf-i-eye:before {
  content: "\e9ce";
}
.wf-i-eye-plus:before {
  content: "\e9cf";
}
.wf-i-eye-minus:before {
  content: "\e9d0";
}
.wf-i-eye-blocked:before {
  content: "\e9d1";
}
.wf-i-bookmark:before {
  content: "\e9d2";
}
.wf-i-bookmarks:before {
  content: "\e9d3";
}
.wf-i-sun:before {
  content: "\e9d4";
}
.wf-i-contrast:before {
  content: "\e9d5";
}
.wf-i-brightness-contrast:before {
  content: "\e9d6";
}
.wf-i-star-empty:before {
  content: "\e9d7";
}
.wf-i-star-half:before {
  content: "\e9d8";
}
.wf-i-star-full:before {
  content: "\e9d9";
}
.wf-i-heart:before {
  content: "\e9da";
}
.wf-i-heart-broken:before {
  content: "\e9db";
}
.wf-i-man:before {
  content: "\e9dc";
}
.wf-i-woman:before {
  content: "\e9dd";
}
.wf-i-man-woman:before {
  content: "\e9de";
}
.wf-i-happy:before {
  content: "\e9df";
}
.wf-i-happy2:before {
  content: "\e9e0";
}
.wf-i-smile:before {
  content: "\e9e1";
}
.wf-i-smile2:before {
  content: "\e9e2";
}
.wf-i-tongue:before {
  content: "\e9e3";
}
.wf-i-tongue2:before {
  content: "\e9e4";
}
.wf-i-sad:before {
  content: "\e9e5";
}
.wf-i-sad2:before {
  content: "\e9e6";
}
.wf-i-wink:before {
  content: "\e9e7";
}
.wf-i-wink2:before {
  content: "\e9e8";
}
.wf-i-grin:before {
  content: "\e9e9";
}
.wf-i-grin2:before {
  content: "\e9ea";
}
.wf-i-cool:before {
  content: "\e9eb";
}
.wf-i-cool2:before {
  content: "\e9ec";
}
.wf-i-angry:before {
  content: "\e9ed";
}
.wf-i-angry2:before {
  content: "\e9ee";
}
.wf-i-evil:before {
  content: "\e9ef";
}
.wf-i-evil2:before {
  content: "\e9f0";
}
.wf-i-shocked:before {
  content: "\e9f1";
}
.wf-i-shocked2:before {
  content: "\e9f2";
}
.wf-i-baffled:before {
  content: "\e9f3";
}
.wf-i-baffled2:before {
  content: "\e9f4";
}
.wf-i-confused:before {
  content: "\e9f5";
}
.wf-i-confused2:before {
  content: "\e9f6";
}
.wf-i-neutral:before {
  content: "\e9f7";
}
.wf-i-neutral2:before {
  content: "\e9f8";
}
.wf-i-hipster:before {
  content: "\e9f9";
}
.wf-i-hipster2:before {
  content: "\e9fa";
}
.wf-i-wondering:before {
  content: "\e9fb";
}
.wf-i-wondering2:before {
  content: "\e9fc";
}
.wf-i-sleepy:before {
  content: "\e9fd";
}
.wf-i-sleepy2:before {
  content: "\e9fe";
}
.wf-i-frustrated:before {
  content: "\e9ff";
}
.wf-i-frustrated2:before {
  content: "\ea00";
}
.wf-i-crying:before {
  content: "\ea01";
}
.wf-i-crying2:before {
  content: "\ea02";
}
.wf-i-point-up:before {
  content: "\ea03";
}
.wf-i-point-right:before {
  content: "\ea04";
}
.wf-i-point-down:before {
  content: "\ea05";
}
.wf-i-point-left:before {
  content: "\ea06";
}
.wf-i-warning:before {
  content: "\ea07";
}
.wf-i-notification:before {
  content: "\ea08";
}
.wf-i-question:before {
  content: "\ea09";
}
.wf-i-plus:before {
  content: "\ea0a";
}
.wf-i-minus:before {
  content: "\ea0b";
}
.wf-i-info:before {
  content: "\ea0c";
}
.wf-i-cancel-circle:before {
  content: "\ea0d";
}
.wf-i-blocked:before {
  content: "\ea0e";
}
.wf-i-cross:before {
  content: "\ea0f";
}
.wf-i-checkmark:before {
  content: "\ea10";
}
.wf-i-checkmark2:before {
  content: "\ea11";
}
.wf-i-spell-check:before {
  content: "\ea12";
}
.wf-i-enter:before {
  content: "\ea13";
}
.wf-i-exit:before {
  content: "\ea14";
}
.wf-i-play2:before {
  content: "\ea15";
}
.wf-i-pause:before {
  content: "\ea16";
}
.wf-i-stop:before {
  content: "\ea17";
}
.wf-i-previous:before {
  content: "\ea18";
}
.wf-i-next:before {
  content: "\ea19";
}
.wf-i-backward:before {
  content: "\ea1a";
}
.wf-i-forward2:before {
  content: "\ea1b";
}
.wf-i-play3:before {
  content: "\ea1c";
}
.wf-i-pause2:before {
  content: "\ea1d";
}
.wf-i-stop2:before {
  content: "\ea1e";
}
.wf-i-backward2:before {
  content: "\ea1f";
}
.wf-i-forward3:before {
  content: "\ea20";
}
.wf-i-first:before {
  content: "\ea21";
}
.wf-i-last:before {
  content: "\ea22";
}
.wf-i-previous2:before {
  content: "\ea23";
}
.wf-i-next2:before {
  content: "\ea24";
}
.wf-i-eject:before {
  content: "\ea25";
}
.wf-i-volume-high:before {
  content: "\ea26";
}
.wf-i-volume-medium:before {
  content: "\ea27";
}
.wf-i-volume-low:before {
  content: "\ea28";
}
.wf-i-volume-mute:before {
  content: "\ea29";
}
.wf-i-volume-mute2:before {
  content: "\ea2a";
}
.wf-i-volume-increase:before {
  content: "\ea2b";
}
.wf-i-volume-decrease:before {
  content: "\ea2c";
}
.wf-i-loop:before {
  content: "\ea2d";
}
.wf-i-loop2:before {
  content: "\ea2e";
}
.wf-i-infinite:before {
  content: "\ea2f";
}
.wf-i-shuffle:before {
  content: "\ea30";
}
.wf-i-arrow-up-left:before {
  content: "\ea31";
}
.wf-i-arrow-up:before {
  content: "\ea32";
}
.wf-i-arrow-up-right:before {
  content: "\ea33";
}
.wf-i-arrow-right:before {
  content: "\ea34";
}
.wf-i-arrow-down-right:before {
  content: "\ea35";
}
.wf-i-arrow-down:before {
  content: "\ea36";
}
.wf-i-arrow-down-left:before {
  content: "\ea37";
}
.wf-i-arrow-left:before {
  content: "\ea38";
}
.wf-i-arrow-up-left2:before {
  content: "\ea39";
}
.wf-i-arrow-up2:before {
  content: "\ea3a";
}
.wf-i-arrow-up-right2:before {
  content: "\ea3b";
}
.wf-i-arrow-right2:before {
  content: "\ea3c";
}
.wf-i-arrow-down-right2:before {
  content: "\ea3d";
}
.wf-i-arrow-down2:before {
  content: "\ea3e";
}
.wf-i-arrow-down-left2:before {
  content: "\ea3f";
}
.wf-i-arrow-left2:before {
  content: "\ea40";
}
.wf-i-circle-up:before {
  content: "\ea41";
}
.wf-i-circle-right:before {
  content: "\ea42";
}
.wf-i-circle-down:before {
  content: "\ea43";
}
.wf-i-circle-left:before {
  content: "\ea44";
}
.wf-i-tab:before {
  content: "\ea45";
}
.wf-i-move-up:before {
  content: "\ea46";
}
.wf-i-move-down:before {
  content: "\ea47";
}
.wf-i-sort-alpha-asc:before {
  content: "\ea48";
}
.wf-i-sort-alpha-desc:before {
  content: "\ea49";
}
.wf-i-sort-numeric-asc:before {
  content: "\ea4a";
}
.wf-i-sort-numberic-desc:before {
  content: "\ea4b";
}
.wf-i-sort-amount-asc:before {
  content: "\ea4c";
}
.wf-i-sort-amount-desc:before {
  content: "\ea4d";
}
.wf-i-command:before {
  content: "\ea4e";
}
.wf-i-shift:before {
  content: "\ea4f";
}
.wf-i-ctrl:before {
  content: "\ea50";
}
.wf-i-opt:before {
  content: "\ea51";
}
.wf-i-checkbox-checked:before {
  content: "\ea52";
}
.wf-i-checkbox-unchecked:before {
  content: "\ea53";
}
.wf-i-radio-checked:before {
  content: "\ea54";
}
.wf-i-radio-checked2:before {
  content: "\ea55";
}
.wf-i-radio-unchecked:before {
  content: "\ea56";
}
.wf-i-crop:before {
  content: "\ea57";
}
.wf-i-make-group:before {
  content: "\ea58";
}
.wf-i-ungroup:before {
  content: "\ea59";
}
.wf-i-scissors:before {
  content: "\ea5a";
}
.wf-i-filter:before {
  content: "\ea5b";
}
.wf-i-font:before {
  content: "\ea5c";
}
.wf-i-ligature:before {
  content: "\ea5d";
}
.wf-i-ligature2:before {
  content: "\ea5e";
}
.wf-i-text-height:before {
  content: "\ea5f";
}
.wf-i-text-width:before {
  content: "\ea60";
}
.wf-i-font-size:before {
  content: "\ea61";
}
.wf-i-bold:before {
  content: "\ea62";
}
.wf-i-underline:before {
  content: "\ea63";
}
.wf-i-italic:before {
  content: "\ea64";
}
.wf-i-strikethrough:before {
  content: "\ea65";
}
.wf-i-omega:before {
  content: "\ea66";
}
.wf-i-sigma:before {
  content: "\ea67";
}
.wf-i-page-break:before {
  content: "\ea68";
}
.wf-i-superscript:before {
  content: "\ea69";
}
.wf-i-subscript:before {
  content: "\ea6a";
}
.wf-i-superscript2:before {
  content: "\ea6b";
}
.wf-i-subscript2:before {
  content: "\ea6c";
}
.wf-i-text-color:before {
  content: "\ea6d";
}
.wf-i-pagebreak:before {
  content: "\ea6e";
}
.wf-i-clear-formatting:before {
  content: "\ea6f";
}
.wf-i-table:before {
  content: "\ea70";
}
.wf-i-table2:before {
  content: "\ea71";
}
.wf-i-insert-template:before {
  content: "\ea72";
}
.wf-i-pilcrow:before {
  content: "\ea73";
}
.wf-i-ltr:before {
  content: "\ea74";
}
.wf-i-rtl:before {
  content: "\ea75";
}
.wf-i-section:before {
  content: "\ea76";
}
.wf-i-paragraph-left:before {
  content: "\ea77";
}
.wf-i-paragraph-center:before {
  content: "\ea78";
}
.wf-i-paragraph-right:before {
  content: "\ea79";
}
.wf-i-paragraph-justify:before {
  content: "\ea7a";
}
.wf-i-indent-increase:before {
  content: "\ea7b";
}
.wf-i-indent-decrease:before {
  content: "\ea7c";
}
.wf-i-share:before {
  content: "\ea7d";
}
.wf-i-new-tab:before {
  content: "\ea7e";
}
.wf-i-embed:before {
  content: "\ea7f";
}
.wf-i-embed2:before {
  content: "\ea80";
}
.wf-i-terminal:before {
  content: "\ea81";
}
.wf-i-share2:before {
  content: "\ea82";
}
.wf-i-mail:before {
  content: "\ea83";
}
.wf-i-mail2:before {
  content: "\ea84";
}
.wf-i-mail3:before {
  content: "\ea85";
}
.wf-i-mail4:before {
  content: "\ea86";
}
.wf-i-amazon:before {
  content: "\ea87";
}
.wf-i-google:before {
  content: "\ea88";
}
.wf-i-google2:before {
  content: "\ea89";
}
.wf-i-google3:before {
  content: "\ea8a";
}
.wf-i-google-plus:before {
  content: "\ea8b";
}
.wf-i-google-plus2:before {
  content: "\ea8c";
}
.wf-i-google-plus3:before {
  content: "\ea8d";
}
.wf-i-hangouts:before {
  content: "\ea8e";
}
.wf-i-google-drive:before {
  content: "\ea8f";
}
.wf-i-facebook:before {
  content: "\ea90";
}
.wf-i-facebook2:before {
  content: "\ea91";
}
.wf-i-instagram:before {
  content: "\ea92";
}
.wf-i-whatsapp:before {
  content: "\ea93";
}
.wf-i-spotify:before {
  content: "\ea94";
}
.wf-i-telegram:before {
  content: "\ea95";
}
.wf-i-twitter:before {
  content: "\ea96";
}
.wf-i-vine:before {
  content: "\ea97";
}
.wf-i-vk:before {
  content: "\ea98";
}
.wf-i-renren:before {
  content: "\ea99";
}
.wf-i-sina-weibo:before {
  content: "\ea9a";
}
.wf-i-rss:before {
  content: "\ea9b";
}
.wf-i-rss2:before {
  content: "\ea9c";
}
.wf-i-youtube:before {
  content: "\ea9d";
}
.wf-i-youtube2:before {
  content: "\ea9e";
}
.wf-i-twitch:before {
  content: "\ea9f";
}
.wf-i-vimeo:before {
  content: "\eaa0";
}
.wf-i-vimeo2:before {
  content: "\eaa1";
}
.wf-i-lanyrd:before {
  content: "\eaa2";
}
.wf-i-flickr:before {
  content: "\eaa3";
}
.wf-i-flickr2:before {
  content: "\eaa4";
}
.wf-i-flickr3:before {
  content: "\eaa5";
}
.wf-i-flickr4:before {
  content: "\eaa6";
}
.wf-i-dribbble:before {
  content: "\eaa7";
}
.wf-i-behance:before {
  content: "\eaa8";
}
.wf-i-behance2:before {
  content: "\eaa9";
}
.wf-i-deviantart:before {
  content: "\eaaa";
}
.wf-i-500px:before {
  content: "\eaab";
}
.wf-i-steam:before {
  content: "\eaac";
}
.wf-i-steam2:before {
  content: "\eaad";
}
.wf-i-dropbox:before {
  content: "\eaae";
}
.wf-i-onedrive:before {
  content: "\eaaf";
}
.wf-i-github:before {
  content: "\eab0";
}
.wf-i-npm:before {
  content: "\eab1";
}
.wf-i-basecamp:before {
  content: "\eab2";
}
.wf-i-trello:before {
  content: "\eab3";
}
.wf-i-wordpress:before {
  content: "\eab4";
}
.wf-i-joomla:before {
  content: "\eab5";
}
.wf-i-ello:before {
  content: "\eab6";
}
.wf-i-blogger:before {
  content: "\eab7";
}
.wf-i-blogger2:before {
  content: "\eab8";
}
.wf-i-tumblr:before {
  content: "\eab9";
}
.wf-i-tumblr2:before {
  content: "\eaba";
}
.wf-i-yahoo:before {
  content: "\eabb";
}
.wf-i-yahoo2:before {
  content: "\eabc";
}
.wf-i-tux:before {
  content: "\eabd";
}
.wf-i-appleinc:before {
  content: "\eabe";
}
.wf-i-finder:before {
  content: "\eabf";
}
.wf-i-android:before {
  content: "\eac0";
}
.wf-i-windows:before {
  content: "\eac1";
}
.wf-i-windows8:before {
  content: "\eac2";
}
.wf-i-soundcloud:before {
  content: "\eac3";
}
.wf-i-soundcloud2:before {
  content: "\eac4";
}
.wf-i-skype:before {
  content: "\eac5";
}
.wf-i-reddit:before {
  content: "\eac6";
}
.wf-i-hackernews:before {
  content: "\eac7";
}
.wf-i-wikipedia:before {
  content: "\eac8";
}
.wf-i-linkedin:before {
  content: "\eac9";
}
.wf-i-linkedin2:before {
  content: "\eaca";
}
.wf-i-lastfm:before {
  content: "\eacb";
}
.wf-i-lastfm2:before {
  content: "\eacc";
}
.wf-i-delicious:before {
  content: "\eacd";
}
.wf-i-stumbleupon:before {
  content: "\eace";
}
.wf-i-stumbleupon2:before {
  content: "\eacf";
}
.wf-i-stackoverflow:before {
  content: "\ead0";
}
.wf-i-pinterest:before {
  content: "\ead1";
}
.wf-i-pinterest2:before {
  content: "\ead2";
}
.wf-i-xing:before {
  content: "\ead3";
}
.wf-i-xing2:before {
  content: "\ead4";
}
.wf-i-flattr:before {
  content: "\ead5";
}
.wf-i-foursquare:before {
  content: "\ead6";
}
.wf-i-yelp:before {
  content: "\ead7";
}
.wf-i-paypal:before {
  content: "\ead8";
}
.wf-i-chrome:before {
  content: "\ead9";
}
.wf-i-firefox:before {
  content: "\eada";
}
.wf-i-IE:before {
  content: "\eadb";
}
.wf-i-edge:before {
  content: "\eadc";
}
.wf-i-safari:before {
  content: "\eadd";
}
.wf-i-opera:before {
  content: "\eade";
}
.wf-i-file-pdf:before {
  content: "\eadf";
}
.wf-i-file-openoffice:before {
  content: "\eae0";
}
.wf-i-file-word:before {
  content: "\eae1";
}
.wf-i-file-excel:before {
  content: "\eae2";
}
.wf-i-libreoffice:before {
  content: "\eae3";
}
.wf-i-html-five:before {
  content: "\eae4";
}
.wf-i-html-five2:before {
  content: "\eae5";
}
.wf-i-css3:before {
  content: "\eae6";
}
.wf-i-git:before {
  content: "\eae7";
}
.wf-i-codepen:before {
  content: "\eae8";
}
.wf-i-svg:before {
  content: "\eae9";
}
.wf-i-IcoMoon:before {
  content: "\eaea";
}
